<h1> Formulario Alumno </h1>
<br>
<label > Rut </label>
<input type="number" (input)="cambioRut($event)" [value]="newAlumno.rut">
<br>
<label > Nombre </label>
<input type="text" (input)="cambioNombre($event)" [value]="newAlumno.nombre">
<br>
<label >Apellido </label>
<input type="text" (input)="cambioApellido($event)" [value]="newAlumno.apellido">
<br>
<label > Edad </label>
<input type="number" (input)="cambioEdad($event)" [value]="newAlumno.edad">
<br>
<label > Sección </label>
<select (input)="traerId($event)">
  <option>Seleccione Sección </option>
  <option [value]="item.id" *ngFor="let item of clase"> {{item.nomSeccion}}
  </option>
</select>
<br>
<button type="button" (click)="registroAlumno()"> Registrar </button>
